{
    frankenphp
    order php_server before file_server
}

{$SERVER_NAME:localhost} {
    root * /app/public

    encode zstd br gzip

    # Compression et cache des assets statiques
    @static {
        file
        path *.css *.js *.ico *.png *.jpg *.jpeg *.webp *.gif *.svg *.woff *.woff2
    }
    header @static Cache-Control "public, max-age=31536000, immutable"

    php_server
}
