includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - config

    level: 5

    ignoreErrors:
        # Exemple '#PHPDoc tag @var#'

    excludePaths:
        # Exemple ./*/*/FileToBeExcluded.php
